@reference '../../../app/globals.css';

.card-grid {
   @apply grid gap-4;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.admin-card-grid {
   @apply grid gap-4;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 639px) {
   .admin-card-grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   }
}
